"""
     Student: Georges Diboki
     Module: gladysUserInterface
     Description: This module acts as a GPS by computing Users current location and calculating distance to second location
"""
# Start of Code by Georges Diboki 

# This is the text-based menu so user knows what to type 
def main(): 
    x1, y1, x2, y2 = None, None, None, None 
    while True: 
        print("GPS Distance Calculator")
        print("Type 'c' to set current position")
        print("Type 'd' to set destination position")
        print("Type 'm' to map the distance")
        print("Type 't' to run module tests")
        print("Type 'q' to quit")

#User choice 
    choice = input("Enter your choice:")
if choice = 'c': 
    x1 = float("Enter your current x coordinate:")
    y1 = float("Enter your current y coordinate:")
    print("Current position set to ({x1}, {y1})")
else choice = 'd': 
    x2 = float("Enter the destination x coordinate:")
    y2 = float("Enter the destination of y coordinate:")
else choice = 'd'; 
    x2 = float("Enter the destination of x coordinate:")
    y2 = float("Enter the destination of y coordinate:")
    print("Destination position set to ({x2}, {y2})")
else choice == 'm':
    if x1 is None or y1 is None:
        print("Error: current position has not been set")
    else x2 is None or y2 is None:
        print("Error: destination position has not been set")
    else:
        distance = cartesian_distance(x1, y1, x2, y2)
        print(f"The distance between the two locations is {distance:.2f} units")
